MYSQL_ROOT_PASSWORD=hoge
MYSQL_PASSWORD=hoge
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
MYSQL_HOST=db
REDIS_HOST=redis
NEXTCLOUD_TRUSTED_DOMAINS=next.example.com
PHP_MEMORY_LIMIT=4096M
PHP_UPLOAD_LIMIT=4096M